* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
body {
  font-family: "Open Sans", sans-serif;
}
header {
  width: 100%;
  background: #000;
  display: flex;
}
h1 {
  font-size: 44px;
  font-weight: 100;
}
h1 b {
  font-weight: 600;
}

.header_logo {
  text-transform: uppercase;
  color: #fff;
  font-weight: 800;
  font-size: 24px;
  cursor: pointer;
  margin-top: 56px;
  margin-left: auto;
  margin-bottom: 13px;
}

nav {
  margin-top: 56px;
  margin-left: 29%;
  margin-right: auto;
}

.topnav a {
  color: #fff;
  text-align: center;
  padding: 12px 16px;
  font-size: 14px;
  font-weight: bold;
}
.topnav a:hover {
  border-bottom: 3px solid #fcac45;
}

.topnav .icon {
  display: none;
}
main {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main_welcome {
  background: #000;
  text-align: center;
  padding: 216px 0 416px 0;
}
.main_welcome p {
  color: #c3c3c3;
  font-size: 20px;
  font-weight: 200;
}
.main_welcome b {
  font-weight: 700;
}
.main_welcome h1 {
  color: #999999;
  font-size: 44px;
  font-weight: 300;
}
.main_welcome h1:after {
  display: none;
}
.mycompany {
  color: #fcac45;
  font-weight: 700;
}
.wrapper {
  max-width: 1210px;
  margin: 0 auto;
}
.main_about {
  display: flex;
  padding: 100px 0 100px 0;
}
.about_right {
  margin-left: 175px;
}
.about_right h1 {
  display: inline-block;
  border-bottom: 3px solid #fcac45;
  padding-bottom: 20px;
  font-weight: 100;
}
.about_right h1:after {
  display: none;
}

.about_right p {
  margin: 30px 0 50px 0;
  color: #6c6c6c;
  text-align: left;
  width: 400px;
}
.about_right li {
  background: url(img/mark.png) 0px no-repeat;
  padding-left: 25px;
  margin-top: 10px;
  font-weight: 600;
}
.about_right i {
  font-weight: 400;
  color: #5a5a5a;
}


.main_team {
  background: #000;
  text-align: center;
  padding: 100px 0 165px 0;
  color: #fff;
}
.main_team h1 {
  font-size: 44px;
  padding-bottom: 30px;
  font-weight: 400;
}

.photo {
  background: #000;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  margin: 20px auto;
}
.team_cards {
  display: flex;
  justify-content: space-between;
}
.card {
  margin: 0 40px;
}
.name {
  font-size: 20px;
  margin-bottom: 7px;
}
.position {
  font-size: 16px;
  margin-bottom: 35px;
}
.about_position {
  font-size: 14px;
}

.services_cards {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 20px;
}
.main_services h1 {
  text-align: center;
  padding: 100px 0 30px 0;
  font-size: 44px;
}
.main_services p {
  color: #6c6c6c;
  margin-bottom: 100px;
}
.services_card h4 {
  margin-top: 20px;
  margin-bottom: 15px;
}
.main_clients {
  background: #000;
  padding: 100px 0 205px 0;
  color: #fff;
  text-align: center;
}
.main_clients h1 {
  margin-bottom: 30px;
  font-size: 44px;
  font-weight: 100;
}
.main_clients h1 b {
  font-weight: 600;
}
.main_clients img {
  margin-top: 10px;
  margin-left: 30px;
}
.main_testimonials {
  background: #000;
  text-align: center;
  color: #fff;
  padding-bottom: 170px;
}
.main_testimonials h1 {
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 100px;
  font-size: 44px;
  font-weight: 100;
}

.main_testimonials p {
  text-transform: uppercase;
  margin-bottom: 50px;
}

.main_work {
  text-align: center;
  padding: 100px 0 100px 0;
}

.main_work h1 {
  margin-bottom: 30px;
  font-size: 44px;
  font-weight: 100;
}
.main_work h1 b {
  font-weight: 600;
}
.main_work p {
  margin-bottom: 175px;
  color: #6c6c6c;
  text-align: center;
}
.main_work img {
  margin: 15px;
}
.main_work img:hover {
  opacity: 0.9;
}
.contact_wrapper {
  width: 753px;
  margin: 0 auto;
  color: #636363;
}
.contact111 {
  margin: 60px 0 100px 0;
}
.red {
  color: red;
}
.form_input {
  display: flex;
}
input {
  width: 360px;
  height: 40px;
  font-size: 16px;
  margin-bottom: 30px;
  color: #fff;
}
input:first-of-type {
  margin-right: 23px;
}
textarea {
  width: 100%;
  height: 163px;
}
input,
textarea {
  border: 1px solid #999999;
  margin-top: 5px;
}
.button_block {
  display: flex;
  justify-content: flex-end;
}
input[type="submit"] {
  background: #fcac45;
  width: 165px;
  height: 40px;
  margin-right: 0;
  margin-top: 20px;
  border: solid #fcac45;
}
.contact_from h1,
p {
  text-align: center;
}
.contact_from h1 {
  color: #000;
  margin-bottom: 30px;
}
.contact_from {
  padding: 100px 0 100px 0;
}
form p {
  text-align: left;
}

h1:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 100px;
  padding-top: 30px;
  border-bottom: 3px solid #fcac45;
}
footer {
  width: 100%;
  height: auto;
  background: #222222;
  padding: 30px 0 30px 0;
}
.social {
  display: flex;
  justify-content: center;
}
.social img {
  margin-left: 12px;
}
.social img:hover {
  opacity: 0.9;
}

@media screen and (max-width: 1366px) {
  .main_work img {
    width: 220px;
    margin: 15px;
  }
  .card {
    margin: 0 10px;
    width: 25%;
  }
}
nav {
  margin-left: 25%;
}

@media screen and (max-width: 1260px) {


  nav {
    margin-left: 20%;
  }

  .wrapper {
	margin: 0 30px;
  }

  .main_about {
    display: block;
	text-align: center;
  }

  .about_left {
	margin: 0 auto 50px;
  }

  .about_right {
	margin-left: 0;
	text-align: center
  }
  .about_right h1 {
	margin-bottom: 30px;
  }

  .about_right p{
	margin: 0 auto 30px;
	text-align: center;
  }

  .about_right ul {
	width: 400px;
    margin: auto;
	text-align: left;
  }


}

@media screen and (max-width: 1110px) {
  nav {
    margin-left: 10%;
  }

  .line {
	display: grid;
    grid-template-columns: 50% 50%;
  }

  .line img {
	margin:0 auto 100px;
  }

  


}

@media screen and (max-width: 1010px) {
  .topnav a {
    display: none;
  }
  .topnav a.icon {
    float: right;
    margin-top: -17px;
    display: block;
    color: #fff;
    font-size: 25px;
  }
  .header_logo {
    margin-left: 16px;
  }
  nav {
    width: 100%;
  }
  .topnav.responsive {
    position: relative;
    top: 50px;
    left: -200px;
  }
  header .topnav.responsive {
    height: 340px;
  }
  .topnav.responsive a.icon {
    position: absolute;
    top: -50px;
    right: -200px;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .main_welcome {
    padding: 50px 0 50px 0;
  }
  .main_welcome p {
    font-size: 14px;
  }
  .main_welcome h1 {
    font-size: 25px;
  }
 
  .main_about {
    flex-direction: column;
  }
  .about_right {
    text-align: center;
    margin-left: 0;
  }
  .about_right li {
    text-align: left;
  }
  .about_rihgt h1 {
    margin-top: 10px;
    font-size: 20px;
  }

  .main_team {
	padding-bottom: 135px;
  }
  .team_cards {
    flex-wrap: wrap;
  }

  .card {
	margin: 0 auto 30px;
	width: 40%;
  }
  .services_cards {
    
	grid-template-columns: 50% 50%;
	margin: auto;
  }

  .services_cards p{
	width: 200px;
	margin: 0 auto 100px;
  }
  .line1 img:not(:first-child) {
    display: none;
  }
  .line2 img:not(:first-child) {
    display: none;
  }
  .line3 img:not(:first-child) {
    display: none;
  }
}
